body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.Content {
    height: 100%;
    width: 32rem;
    background-color: #e2f2ff;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.Scroller-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.Cloud {
    background-color: #fff;
    height: 5rem;
    opacity: .5;
    border-radius: 2.5rem;
    margin-top: 3rem;
}

.Scroll-background {
    width: 32rem;
    height: 43rem;
    background: url(img/same-bg.svg) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Chaacter-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20.1rem;
    transform-origin: bottom;
}

.Idol-body {
    background-image: url(img/Idol-body.svg);
    height: 31px;
    width: 120px;
    background-size: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
}

.Idol-head {
    bottom: 31px;
    background-image: url(img/Idol-head.svg);
    height: 80px;
    background-size: 100%;
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    margin: auto;
}

.Pipe-container {
    height: 20.4rem;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.Pipe-wrapper {
    white-space: nowrap;
    font-size: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Pipe-0 {
    background-image: url(img/pipe-0.svg);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Pipe-1 {
    background-image: url(img/pipe-1.svg);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Pipe-2 {
    background-image: url(img/pipe-2.svg);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Pipe-3 {
    background-image: url(img/pipe-0.svg);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Game-start-bar {
    width: 100%;
    height: 11.6rem;
    position: absolute;
    background-color: #fff;
    color: #0093ff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.Idol-selector {
    width: 100%;
    height: 7.6rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 0;
    text-align: left;
    padding-left: .5rem;
    box-sizing: border-box;
}

.idols {
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    margin-left: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

.Idol-a {
    background-image: url(img/idol-a.svg);
}

.Idol-a.grey {
    background-image: url(img/idol-a-grey.svg);
}

.Idol-b {
    background-image: url(img/idol-b.svg);
}

.Idol-b.grey {
    background-image: url(img/idol-b-grey.svg);
}

.Idol-c {
    background-image: url(img/idol-c.svg);
}

.Idol-c.grey {
    background-image: url(img/idol-c-grey.svg);
}

.Idol-d {
    background-image: url(img/idol-d.svg);
}

.Idol-d.grey {
    background-image: url(img/idol-d-grey.svg);
}

.Guide-button {
    left: 1.6rem;
    background-image: url(img/guide.svg);
    background-size: 100%;
    height: 3.4rem;
    width: 3.4rem;
    top: 1.6rem;
    position: absolute;
    background-repeat: no-repeat;
}

.Shara-button {
    color: #fff;
    right: 1.6rem;
    background-image: url(img/share.svg);
    background-size: 100%;
    height: 3.4rem;
    width: 3.4rem;
    top: 1.6rem;
    position: absolute;
    background-repeat: no-repeat;
}

.Rank {
    padding-top: 1.4rem;
    font-weight: 700;
    font-size: 2rem;
    z-index: 100;
    text-align: center;
    color: #603813;
}

.High-rank {
    font-size: 1.2rem;
    border-top: 1px solid #603813;
    width: 10rem;
    margin: 0 auto;
    margin-top: .6rem;
    padding-top: .6rem;
    z-index: 100;
    text-align: center;
    color: #603813;
}

.Single-rank {
    font-weight: 700;
    font-size: 2.4rem;
    background-color: #e2f2ff;
    padding: 0 1rem;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    top: 1rem;
    transition: .2s ease-out;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #603813;
}
